extends layout 

block main-content 
    h1.section-title Contact Us 
    div(class='contact-us-section')
        div(class='map-address')
            img(src="/assets/images/contact-us.png")
            p 205 Humber College Blvd,
            | Etobicoke, ON M9W 5L7
            p +14166753111
            