extends layout 

block main-content 
    h1.section-title For You 
    div(class='for-you-section')
        div(class='item1')
            img(src="/assets/images/vader-lightsaber.jpg")
            //-image citation
            //image citation: https://i.ytimg.com/vi/4sc1cwSxe90/maxresdefault.jpg
            h3 Darth Vader Legacy Lightsaber
        div(class='item2')
            img(src="/assets/images/cal-lightsaber.jpg")
            //-image citation
            //image citation: https://i.ebayimg.com/images/g/s8IAAOSw89NiPM3a/s-l1600.jpg
            h3 Cal Kestis Legacy Lightsaber
        div(class='item3')
            img(src="/assets/images/sidious-lightsaber.jpg")
            //image citation: https://m.media-amazon.com/images/I/8145B8M6QaL.jpg
            h3 Ahsoka Tano Clone Wars Lightsabers
    h2.section-title Order These Again
    div(class='for-you-section')
        div(class='item1')
            img(src="/assets/images/lightsabre-disney.jpg")
            //-image citation
            //image citation: https://www.gannett-cdn.com/presto/2019/02/28/PPHX/c872a71e-36d1-40dd-bc86-1355d99aabcf-SWGE_Custom_Lightsabers_Merch_0206ZR_0389DR.jpg?crop=2699,1518,x1,y112&width=3200&height=1680&fit=bounds
            h3 Official Disney Lightsaber Stand
        div(class='item2')
            img(src="/assets/images/anakin-lightsabre.jpg")
            //-image citation
            //image citation: https://i.ytimg.com/vi/Jo7NL6Ycs3Y/maxresdefault.jpg
            h3 Anakin Skywalker Lightsaber
        div(class='item3')
            img(src="/assets/images/sidious-lightsaber.jpg")
            //image citation: https://sabersourcing.com/ezoimgfmt/i0.wp.com/sabersourcing.com/wp-content/uploads/2022/05/darth-sidious-legacy-lightsaber-nsa.jpg?resize=720%2C346&is-pending-load=1
            h3 New Exclusive: Darth Sidious Lightsaber